@import "../../App.scss";

.todo-card {
  background-color: $primary-light;
  border: 1px solid $primary-neutral;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 12px;
  font-family: $font-secondary;
  font-size: 1rem;
}

.todo-title {
  font-size: 1.5rem;
  margin-bottom: 8px;
  transition: color 0.3s;
  &.done {
    color: $primary-dark;
    text-decoration: line-through;
  }
}

.tag-container {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.tag {
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 0.875rem;

  &--school {
    background-color: $secondary-blue;
    color: $primary-dark;
  }
  &--health {
    background-color: $secondary-pink;
    color: $primary-dark;
  }
  &--fitness {
    background-color: $secondary-purple;
    color: $primary-dark;
  }
  &--work {
    background-color: $secondary-green;
    color: $primary-dark;
  }
  &--personal {
    background-color: $secondary-yellow;
    color: $primary-dark;
  }

  &--home {
    background-color: lightcoral;
    color: $primary-dark;
  }
}

.status-toggle {
  cursor: pointer;
  color: $primary-dark;
  font-size: 1rem;
  margin-top: 8px;
  transition: color 0.3s;
}

.delete-button {
  background-color: $secondary-pink;
  border: none;
  color: $primary-dark;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
